.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid rgb(70, 167, 99);
  padding: 10px;
}

.header{
  padding: 10px;
}

body{
  padding: 10px;
  background-color: rgb(228, 215, 250);
}

p {
  Hello, this is what I've been working on all week, a live VAT Calculator on the public internet! I think I'm good!
}

